In [1]:
import pandas as pd
import datetime
from datetime import datetime, date

data = pd.read_csv('analyst_test_transactions_db.csv')

In [2]:
data.head()

   user_id  order_id    reg_date transaction_date  revenue
0    57562   94545.0  2013-12-22       2015-07-16     1088
1    40047   81824.0  2013-11-24       2015-01-19     1027
2    48153  144851.0  2015-07-03       2015-10-29      601
3    54591  116111.0  2013-07-12       2015-04-30      881
4    39789  134943.0  2013-05-25       2015-07-21      984

In [3]:
# Проверяем наличие пустых значений
data.isnull().sum()

user_id             0
order_id            0
reg_date            0
transaction_date    0
revenue             0
dtype: int64

In [4]:
data.dtypes

user_id               int64
order_id            float64
reg_date             object
transaction_date     object
revenue               int64
dtype: object

In [5]:
data.transaction_date = data.transaction_date.astype('datetime64')
data.reg_date = data.reg_date.astype('datetime64')

In [6]:
# Напишем функцию, которая выводит информацию: кол-во пользователей на начало периода, 
# кол-во новых пользователей, 
# кол-во транзакций в указанный месяц, совершенные "старыми" пользователями
# кол-во транзакций в указанный месяц, совершенные новыми пользователями
# месяц должен быть указан в формате 'YYYY-MM'
def func1(data, month):
    old_users = len(data[data.reg_date < month])
    new_users = len(data[data.reg_date == month])
    new_trans = len(data[(data.transaction_date == month) & (data.reg_date == month)])
    old_trans = len(data[(data.transaction_date == month) & (data.reg_date < month)])
    return [old_users, new_users, old_trans, new_trans]

In [7]:
# Можем рассчитать с помощью данной функции указанные показатели для всех месяцев 2015 года  и сохранить в словарь
months = ['2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10', '2015-11']
stat_dict = {}
for month in months:
    stat_dict[month] = func1(data, month)

print(stat_dict)

{'2015-01': [42421, 201, 126, 12], '2015-02': [46616, 127, 166, 7], '2015-03': [50268, 156, 179, 7], '2015-04': [53914, 112, 154, 6], '2015-05': [57325, 128, 245, 18], '2015-06': [60031, 68, 176, 8], '2015-07': [63599, 153, 191, 13], '2015-08': [67975, 165, 315, 15], '2015-09': [71294, 87, 260, 11], '2015-10': [73716, 62, 245, 4], '2015-11': [75955, 69, 423, 23]}

In [8]:
# Для того, чтобы сравнить сработала ли акция, рассчитаем по всем месяцам:
# 1. Сколько новых пользователей совершали покупку в месяц регистрации (в % от новых пользователей этого месяца)?

for key, item in stat_dict.items():
    print(key, '{:.2%}'.format(item[3]/item[1]))

2015-01 5.97%
2015-02 5.51%
2015-03 4.49%
2015-04 5.36%
2015-05 14.06%
2015-06 11.76%
2015-07 8.50%
2015-08 9.09%
2015-09 12.64%
2015-10 6.45%
2015-11 33.33%

In [ ]:
# Видим, что в июле 8,5% новых пользователей совершили покупку в этом же месяце. 
# При этом в мае и июне данный показатель выше - 14% и 11,8% соответственно, что говорит о том, что акция не повлияла на покупки новых пользователей в том же месяце.